<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReviewAI</title>
    {% include 'partials/styles.html' %}
</head>
<body>
    <!-- Navigation Bar -->
    {% include 'partials/navigation_bar.html' %}
    
    <!-- Modal -->
    {% include 'partials/modal.html' %}

    <!-- Progress Steps -->
    {% if show_progress_bar %}
        {% include 'partials/progress_bar.html' %}
    {% endif %}

    <!-- Flash Messages -->
    {% include 'partials/flash_messages.html' %}

    <!-- Main Content Block -->
    {% block content %}{% endblock %}

    {% include 'partials/scripts.html' %}
</body>
</html>
